<h2>The Game is over!</h2>

<p>After @((GameConfig.NumberOfRounds <= GameStateObj.GameRound) ? GameConfig.NumberOfRounds : GameStateObj.GameRound) Round@((GameConfig.NumberOfRounds > 1) ? "s" : "")...</p>
<h3>@(TheGame.Players[GameStateObj.Winner].Name) is the winner!</h3>
<table class="table">
    <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Stock</th>
        <th>Cash</th>
        <th>Net Worth</th>
    </tr>
    @foreach (var p in TheGame.Players.OrderBy(r => r.Value.Rank))
    {
        <tr class="@( (TheGame.PlayerRank(p.Key) == 1) ? "table-primary" : "" )" style="@((TheGame.PlayerRank(p.Key) == 1) ? "font-weight: 700" : "")">
            <th>@(TheGame.PlayerRank(p.Key))</th>
            <td>@(p.Value.Name) @((MarkupString)PlayerIcon(p.Key))</td>
            <td>$@(TheGame.PlayerStockWorth(p.Key))</td>
            <td>$@(TheGame.Players[p.Key].Money)</td>
            <td>$@(TheGame.PlayerNetWorth(p.Key))</td>
        </tr>
    }
</table>

@code {
    [Parameter]
    public Game TheGame { get; set; }

    [Parameter]
    public GameStateObject GameStateObj { get; set; }

    [Parameter]
    public GameConfiguration GameConfig { get; set; }


    private string PlayerIcon(int Id)
    {
        if (!String.IsNullOrWhiteSpace(TheGame.Players[Id].IconPath))
            return "<img src=" + (char)34 + TheGame.Players[Id].IconPath + (char)34 + " width=" + (char)34 + "16" + (char)34 + " height=" + (char)34 + "16" + (char)34 + " alt=" + (char)34 + "C" + (char)34 + " />";
        else
            return "";
    }

}
